{% case section.settings.img_size %}
	{% when 'small'  %}{%- assign img_size = '370x260' -%}
	{% when 'medium' %}{%- assign img_size = '370x370' -%}
	{% when 'large'  %}{%- assign img_size = '370x467' -%}
{% endcase %}

{% capture img_alignment %}{{ section.settings.img_alignment }}{% endcapture %}

<div class="container{% if section.settings.section_bg_color.size > 0 and section.settings.section_bg_color != 'rgba(0,0,0,0)' %} with_bg" style="background-color: {{ section.settings.section_bg_color }};" {% else %}{% endif %}">
	{% if section.settings.section_title.size > 0 %}
		<h2 class="section_heading">{{ section.settings.section_title | escape }}</h2>
	{% endif %}

	{%- assign collection = collections[section.settings.section_collection] -%}

	<div class="row product_listing__main">
		{% for product in collection.products limit: section.settings.products_limit %}
			<div class="col-xs-4 {% cycle 'step3': 'item_3_1', '', '' %} {% cycle 'step2': 'item_2_1', '' %}">
				{% include 'product-listing-item' img_size: img_size, img_alignment: img_alignment %}
			</div>
		{% endfor %}
	</div>
</div>

{% schema %}
{
	"name": "Featured products",
	"class": "section section_homepage section_featured-products",
	"settings": [
		{
			"id": "section_title",
			"type": "text",
			"label": "Heading",
			"default": "Featured products"
		},
		{
			"type": "color",
			"id": "section_bg_color",
			"label": "Background color"
		},
		{
			"id": "section_collection",
			"type": "collection",
			"label": "Collection"
		},
		{
			"id": "products_limit",
			"type": "select",
			"label": "Show products",
			"options": [
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "6",
					"label": "6"
				},
				{
					"value": "9",
					"label": "9"
				},
				{
					"value": "12",
					"label": "12"
				},
				{
					"value": "15",
					"label": "15"
				}
			]
		},
		{
			"type": "select",
			"id": "img_size",
			"label": "Image size",
			"options": [
				{
					"value": "small",
					"label": "Small (370x260)"
				},
				{
					"value": "medium",
					"label": "Medium (370x370)"
				},
				{
					"value": "large",
					"label": "Large (370x467)"
				}
			]
		},
		{
			"type": "select",
			"id": "img_alignment",
			"label": "Image alignment",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},
        {
            "type": "header",
            "content": {
		        "de": "BENÖTIGEN SIE WEITERE HILFE",
                "en": "NEED MORE HELP?",
                "es": "NECESITAS MÁS AYUDA?",
                "fr": "BESOIN D'AIDE?",
                "it": "SERVE ANCORA AIUTO?",
                "ru": "НУЖНА ДОПОЛНИТЕЛЬНАЯ ПОМОЩЬ?",
                "pt-BR": "NEED MORE HELP?"
		},
            "info": {
                "de": "[Bei weiteren Fragen oder Problemen sowie bei der Anpassung der Vorlage wenden Sie sich bitte an shopify@zemez.io](mailto:shopify@zemez.io)",
                "en": "[In case of additional questions or problems, as well as requests to customize the template, please contact shopify@zemez.io](mailto:shopify@zemez.io)",
                "es": "[En caso de preguntas o problemas adicionales, así como solicitudes para personalizar la plantilla, comuníquese con shopify@zemez.io](mailto:shopify@zemez.io)",
                "fr": "[En cas de questions ou de problèmes supplémentaires, ainsi que de demandes de personnalisation du modèle, veuillez contacter shopify@zemez.io](mailto:shopify@zemez.io)",
                "it": "[In caso di ulteriori domande o problemi, nonché richieste di personalizzazione del modello, si prega di contattare shopify@zemez.io](mailto:shopify@zemez.io)",
                "ru": "[В случае возникновения дополнительных вопросов или проблем, а также запросов на настройку шаблона, пожалуйста, свяжитесь с нами shopify@zemez.io](mailto:shopify@zemez.io)",
                "pt-BR": "[In case of additional questions or problems, as well as requests to customize the template, please contact shopify@zemez.io](mailto:shopify@zemez.io)"
                }
        }
	],
	"presets": [
		{
			"name": "Featured products",
			"category": "Products"
		}
	]
}
{% endschema %}